/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: 'Segoe UI', sans-serif;
  background: #f4f6f9;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: linear-gradient(45deg, #6a11cb, #2575fc);
  color: white;
}

.navbar a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
}

/* Hero Section */
.hero {
  text-align: center;
  padding: 80px 20px;
  background: linear-gradient(135deg, #2575fc, #6a11cb);
  color: white;
}

.hero h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.hero button {
  margin-top: 20px;
  padding: 10px 25px;
  border: none;
  background: white;
  color: #2575fc;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
}

/* Cards */
.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px;
}

.card {
  background: white;
  padding: 20px;
  width: 200px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background: #222;
  color: white;
}